# NFL Predictive Model

In [1]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
seasons = seasons = [str(season) for season in range(2015, 2025)]
# load data
nfl_df = pd.read_csv(f'../data/nfl_data_{seasons[0]}-{seasons[-1]}.csv')

# explore data
with pd.option_context("display.max_colwidth", None, "display.max_columns", None):
    display(nfl_df)

,Season,Week,Team,Date,Win,Home,Opp,Team_Pts,Opp_Pts,Spread,Total
0,2015,1,Cardinals,13-Sep,1,1,Saints,31,19,-2.0,48.5
1,2015,2,Cardinals,20-Sep,1,0,Bears,48,23,-2.0,46.0
2,2015,3,Cardinals,27-Sep,1,1,49ers,47,7,-6.5,45.0
3,2015,5,Cardinals,11-Oct,1,0,Lions,42,17,-3.0,45.5
4,2015,6,Cardinals,18-Oct,0,0,Steelers,13,25,-3.5,45.0
...,...,...,...,...,...,...,...,...,...,...,...
5193,2024,13,Commanders,01-Dec,1,1,Titans,42,19,-6.0,44.5
5194,2024,15,Commanders,15-Dec,1,0,Saints,20,19,-7.5,43.5
5195,2024,16,Commanders,22-Dec,1,1,Eagles,36,33,4.0,46.5
5196,2024,17,Commanders,29-Dec,1,1,Falcons,30,24,-3.5,46.5
5197,2024,18,Commanders,05-Jan,1,0,Cowboys,23,19,-6.5,44.0

In [3]:
# Add Columns
# True Total
nfl_df['True_Total'] = nfl_df['Team_Pts'] + nfl_df['Opp_Pts']

# Total Result
nfl_df['Over'] = np.where(nfl_df['True_Total'] > nfl_df['Total'], 1, 0)
nfl_df['Under'] = np.where(nfl_df['True_Total'] < nfl_df['Total'], 1, 0)
nfl_df['Push'] = np.where(nfl_df['True_Total'] == nfl_df['Total'], 1, 0)

with pd.option_context("display.max_colwidth", None, "display.max_columns", None):
    display(nfl_df)

,Season,Week,Team,Date,Win,Home,Opp,Team_Pts,Opp_Pts,Spread,Total,True_Total,Over,Under,Push
0,2015,1,Cardinals,13-Sep,1,1,Saints,31,19,-2.0,48.5,50,1,0,0
1,2015,2,Cardinals,20-Sep,1,0,Bears,48,23,-2.0,46.0,71,1,0,0
2,2015,3,Cardinals,27-Sep,1,1,49ers,47,7,-6.5,45.0,54,1,0,0
3,2015,5,Cardinals,11-Oct,1,0,Lions,42,17,-3.0,45.5,59,1,0,0
4,2015,6,Cardinals,18-Oct,0,0,Steelers,13,25,-3.5,45.0,38,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5193,2024,13,Commanders,01-Dec,1,1,Titans,42,19,-6.0,44.5,61,1,0,0
5194,2024,15,Commanders,15-Dec,1,0,Saints,20,19,-7.5,43.5,39,0,1,0
5195,2024,16,Commanders,22-Dec,1,1,Eagles,36,33,4.0,46.5,69,1,0,0
5196,2024,17,Commanders,29-Dec,1,1,Falcons,30,24,-3.5,46.5,54,1,0,0
5197,2024,18,Commanders,05-Jan,1,0,Cowboys,23,19,-6.5,44.0,42,0,1,0

In [4]:
# Sort by Season and Week
nfl_df.sort_values(by=["Season", "Week"], ascending=True, inplace=True)

# Keep only Home Games to remove duplicate rows
nfl_df = nfl_df[nfl_df["Home"] == 1]

# Reset index after filtering
nfl_df.reset_index(drop=True, inplace=True)

with pd.option_context("display.max_colwidth", None, "display.max_columns", None):
    display(nfl_df)

,Season,Week,Team,Date,Win,Home,Opp,Team_Pts,Opp_Pts,Spread,Total,True_Total,Over,Under,Push
0,2015,1,Cardinals,13-Sep,1,1,Saints,31,19,-2.0,48.5,50,1,0,0
1,2015,1,Falcons,14-Sep,1,1,Eagles,26,24,2.5,54.5,50,0,1,0
2,2015,1,Bills,13-Sep,1,1,Colts,27,14,2.5,45.0,41,0,1,0
3,2015,1,Bears,13-Sep,0,1,Packers,23,31,6.5,49.0,54,1,0,0
4,2015,1,Cowboys,13-Sep,1,1,Giants,27,26,-6.0,51.5,53,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2594,2024,18,Jets,05-Jan,1,1,Dolphins,32,20,0.0,39.0,52,1,0,0
2595,2024,18,Eagles,05-Jan,1,1,Giants,20,13,-2.5,37.0,33,0,1,0
2596,2024,18,Steelers,04-Jan,0,1,Bengals,17,19,2.5,47.5,36,0,1,0
2597,2024,18,Buccaneers,05-Jan,1,1,Saints,27,19,-14.0,45.0,46,1,0,0
2598,2024,18,Titans,05-Jan,0,1,Texans,14,23,-1.5,36.5,37,1,0,0

## Model